<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.HidProductAppNew" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HID Product Solutions</name>
    <description>
        A product solutions application for HID Global an ASSA ABLOY company.
    </description>
    <author email="mmcwilliams@hidglobal.com" href="http://www.hidglobal.com">
        HID Global
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon.png" />
    <preference name="SplashScreen" value="Default-568h@2x~iphone.png" />
	<preference name="SplashScreenDelay" value="3000" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <feature name="EmailComposer">
        <param name="ios-package" value="APPEmailComposer" />
    </feature>
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
        <param name="onload" value="true" />
    </feature>

<platform name="ios">
    <!-- images are determined by width and height. The following are supported -->
    <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
    <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
</platform>

</widget>
