<ons-navigator animation="slide" var="gallery">  
  <ons-page>
    <ons-toolbar modifier="opacity">
      <div class="right">
        <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">HID Global</div>
    </ons-toolbar>

    <div class="app-page">
      <div class="app-page-menu">
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('');">
              <img src="img/menu/physical-access.png">
              <p>Physical Access</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('');">
              <img src="img/menu/logical-access.png">
              <p>Logical Access</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('');">
              <img src="img/menu/card-printers.png">
              <p>Card Printers</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <!--
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('dishes.html');">
              <img src="img/menu/desserts.png">
              <p>Desserts</p>
            </ons-button>
          </ons-col>
        </ons-row>
      -->
      </div>

    </div>

  </ons-page>
</ons-navigator>   